body{ 
    background-color: rgb(162, 205, 192) ;
    background-image: url(BABC-FISH.png);
    background-size: 25%;
}

a{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 5px;
    border: 2px solid black;
    padding: 4px;
    background-image:linear-gradient(gray, white);
    margin: 0 auto;
    display: block;
    width: 10cm;
    height: 20px;
   
}

h1{
    color:red;
    font-size: 30px;
    margin-bottom: 35px;
    text-align: center;
}
p{
    font-size: 1.25cm;
    margin-top: 35px;
    
}
img {
    border: 1px solid rgb(12, 67, 101);
    border-radius: 15px;
    padding: 1x;
    height: 150px;
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  
/* division */
div1{
    text-align: center;
    color: blue;
    line-height: 2.5cm;
    width: 600px;
    border: 2cm;
    padding: 50px;
    margin: 20px;
}
div2{
    text-align: center;
    color: blue;
    line-height: 2.5cm;
    width: 600px;
    border: 2cm;
    padding: 50px;
    margin: 20px;
}